:root {
  font-size: 16px;
  --theme-color: #ffffff;
  --edited-demo-height: 60%;
  --swiper-navigation-size: 2rem !important;
  --toolbar-height: calc(2.5rem + 2 * var(--padding));
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

*:focus {
  outline: none;
  transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

html,
body {
  font-size: 1rem;
  max-width: 100vw;
  font-weight: 500;
  line-height: 1.25;
  scroll-behavior: smooth;
}

body {
  display: flex;
  font-weight: 400;
  min-height: 100vh;
  flex-direction: column;
}

*::-webkit-scrollbar {
  display: none;
}

#__next,
main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-weight: 600;
  font-size: 0.75rem;
  letter-spacing: 0.0313rem;
}

h6 {
  font-size: 0.75rem;
}

p,
li {
  font-size: 1rem;
}

input {
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  max-width: 100%;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

input:disabled {
  cursor: not-allowed;
  border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
}

input:focus {
  border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
}

input::placeholder,
input::-ms-input-placeholder {
  opacity: 0.5;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-overflow {
  overflow: hidden;
}

@media (min-width: 769px) {
  .only-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.35rem;
  }

  h3 {
    font-size: 1rem;
  }

  input {
    max-width: 100%;
    padding: 0.5rem;
  }

  .no-mobile {
    display: none;
  }
}
